useDynLib(lvnm)
export(sbm.testing)
export(mmsbm)
#export(summary.mmsbm)
export(predict.mmsbm)
export(data.gen.mmsbm)
export(mmsbm.metric)
export(fast.mle)
export(import.weighted.gml)

export(sbm)
#export(summary.sbm)
export(predict.sbm)
export(data.gen.sbm)
export(sbm.metric)
export(sbm.spectral,sbm.em)
export(sbm.modularity,get.modularity)
export(get.BB.mle)
export(fake.data.check.sbm)

export(wsbm)
export(summary.wsbm)
export(predict.wsbm)
export(wsbm.metric)
export(data.gen.wsbm)
export(wsbm.priors)
export(wsbm.convergence)
export(wsbm.log.like.net)

export(dynsbm)
export(data.gen.dynsbm)
export(rgamma.prior)
export(dgamma.prior)

export(sbm.marginal.log.like.net,sbm.log.like.net)
export(mmsbm.log.like.YY)
export(lsm)
#export(summary.lsm)
export(predict.lsm)
export(data.gen.lsm)
export(lsm.metric)

export(plot.net.sbm)
export(plot.fit.sbm)
export(plot.net.mmsbm)
export(plot.fit.mmsbm)
export(plot.ll)
